{% extends 'base.html' %} {% block head %}
<title> Editar Eliminar Usuario </title>
{% endblock %} {% block body %}

<h1 class="otroh">
    Editar o Eliminar Usuario
</h1>

<section data-bs-version="5.1" class="form6 cid-sKVt0H2hil" id="form6-1i">
    <div class="container">
        <div class="row justify-content-center mt-4">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form action="" method="POST" class="mbr-form form-with-styler mx-auto" data-form-title="Form Name">
                    <input type="hidden" name="email" data-form-email="true" value="g3G7PoaIi9fiKGFrr2TS6LUTpzmf8qSisuVqeJ6pp58VmiFVL4+XKez3LVLPVrXqg6qRDN3hVvjHjHI1WJvwqT9PrT2NYDX52HNhobiTGdPrOIigGEvhghu0CQEWwDCY">
                    <div class="row">
                        <div hidden="hidden" data-form-alert="" class="alert alert-success col-12"></div>
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">Oops...! some problem!
                        </div>
                    </div>
                    <div class="dragArea row">
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3" data-for="name">
                            <label for="fname" class="form-control" value="">Nombre</label>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                            <label for="user" class="form-control" value="">Usuario</label>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3" data-for="email">
                            <label for="email" class="form-control" value="">Email</label>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                            <label for="direccion" class="form-control" value="">Dirección</label>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                            <label for="numerocel" class="form-control" value="">Número de Celular</label>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3" data-for="email">
                            <label for="TipoU" class="form-control" value="">Tipo de Uusario</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="botones">
        <button class="otroboton">Editar</button>
        <button class="otroboton">Eliminar</button>
        <button class="otroboton">Lista de deseos</button>
    </div>
</section>

{% endblock %}