{% extends 'base.html' %} {% block head %}
<title> Agregar Plato </title>
{% endblock %} {% block body %}
<h1 class="otroh">
    Agregar Platos
</h1>

<form action="/Agregarplato" method="POST">
    <div>
        <div class="formularios">
            <div class='fila'>
                <div class='c3'>{{ form.idp.label}}</div>
                <div class='c7'>{{ form.idp(size=40, minlegth=2, maxlength=100 )}}</div>
            </div>
            <div class='fila'>
                <div class='c3'>{{ form.nom.label}}</div>
                <div class='c7'>{{ form.nom(size=40, minlegth=2, maxlength=100 )}}</div>
            </div>
        </div>
        <div class="botonescrud">
            {{ form.agrbtn(class='otroboton2') }} {{form.hidden_tag()}} {{ form.edibtn(class='otroboton2') }} {{form.hidden_tag()}} {{ form.elibtn(class='otroboton2') }} {{form.hidden_tag()}}
        </div>
        <!-- <div class='otroboton'>{{ form.verbtn() }} {{form.hidden_tag()}}</div>-->
    </div>
</form>
{% for msg in get_flashed_messages() %}
<div>{{ msg }}</div>
{% endfor %} {% endblock %}