{% extends 'base.html' %} {% block head %}
<title> Agregar Plato </title>
{% endblock %} {% block body %}
<h1 class="otroh">
    Agregar Platos
</h1>

<form action="/Agregarplato" method="POST">
    <div>
        <div>
            <div>{{ form.idp.label}}</div>
            <div>{{ form.idp(size=40, minlegth=2, maxlength=100 )}}</div>
        </div>
        <!--
        <div>
            <div class='otroboton'>{{ form.busbtn() }} {{form.hidden_tag()}}</div>
        </div>
-->
        <div>
            <div>{{ form.nom.label}}</div>
            <div>{{ form.nom(size=40, minlegth=2, maxlength=100 )}}</div>
        </div>

        <div>
            <div class='otroboton'>{{ form.agrbtn() }} {{form.hidden_tag()}}</div>
        </div>
        <!--  <div>
            <div class='otroboton'>{{ form.edibtn() }} {{form.hidden_tag()}}</div>
        </div>
        <div>
            <div class='otroboton'>{{ form.elibtn() }} {{form.hidden_tag()}}</div>
        </div>
      <div>
            <div class='otroboton'>{{ form.verbtn() }} {{form.hidden_tag()}}</div>
        </div>-->
    </div>
</form>
{% for msg in get_flashed_messages() %}
<div>{{ msg }}</div>
{% endfor %} {% endblock %}