{% extends 'base.html' %} {% block head %}
<title> Editar Eliminar Usuario Admin </title>
{% endblock %} {% block body %}

<h1 class="otroh">
    Editar Eliminar Usuario
</h1>


<section data-bs-version="5.1" class="form6 cid-sKVsZcZ8od" id="form6-1f">
    <div class="container">
        <div class="row justify-content-center mt-4">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form action="" method="POST" class="mbr-form form-with-styler mx-auto" data-form-title="Form Name">
                    <input type="hidden" name="email" data-form-email="true" value="tXC2RPuRCa4bOXJewwAGHQqOEjaRk1Qf7QiAWnzmamE78drWq3UmQcnqZsuKPhqtkRyFartssIxlAab/Nw0QxQ8OSgNEXK3DwtdETLb2LXM4NUlxmQAHgclcDnZ6MilI">
                    <div class="row">
                        <div hidden="hidden" data-form-alert="" class="alert alert-success col-12"></div>
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">Oops...! some problem!
                        </div>
                    </div>
                    <div class="dragArea row">
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3" data-for="name">
                            <input type="text" name="name" placeholder="Nombre" data-form-field="name" class="form-control" value="" id="name-form6-1l">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                            <input type="text" name="usuario" placeholder="Usuario" class="form-control" value="" id="email-form6-1l">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3" data-for="email">
                            <input type="email" name="email" placeholder="Email" data-form-field="email" class="form-control" value="" id="email-form6-1l">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                            <input type="text" name="direccion" placeholder="Dirección" class="form-control" value="" id="email-form6-1l">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                            <input type="text" name="NumeroCel" placeholder="Número de Celular" class="form-control" value="" id="email-form6-1l">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3" data-for="email">
                            <input type="text" name="TipoU" placeholder="Tipo de Usuario" class="form-control" value="" id="email-form6-1l">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="botones">
        <button class="otroboton">Editar</button>
        <button class="otroboton">Eliminar</button>
    </div>
</section>
{% endblock %}