{% extends 'base.html' %} {% block head %}
<title> Editar Eliminar Usuario Admin </title>
{% endblock %} {% block body %}

<h1 class="otroh">
    Editar Eliminar Usuario
</h1>


<section data-bs-version="5.1" class="form6 cid-sKVsZcZ8od" id="form6-1f">
    <div class="container">
        <div class="row justify-content-center mt-4">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form action="/Editaruadmin/" method="POST" class="mbr-form form-with-styler mx-auto" data-form-title="Form Name">
                    <input type="hidden" name="email" data-form-email="true" value="tXC2RPuRCa4bOXJewwAGHQqOEjaRk1Qf7QiAWnzmamE78drWq3UmQcnqZsuKPhqtkRyFartssIxlAab/Nw0QxQ8OSgNEXK3DwtdETLb2LXM4NUlxmQAHgclcDnZ6MilI">
                    <div class="row">
                        <div hidden="hidden" data-form-alert="" class="alert alert-success col-12"></div>
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">Oops...! some problem!
                        </div>
                    </div>
                    <div class="dragArea row">
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3" data-for="name">
                            <input type="text" name="usuariotxt" placeholder="Usuario" data-form-field="name" class="form-control" value="" id="usuariotxt">
                        </div>
                        <div class="div class=" btn-group btn-group-justified><input type="submit" name="buscar" value="Buscar" class="otroboton2"/></div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                            <input type="text" name="nombretxt" placeholder="Nombre" class="form-control" value="" id="nombretxt">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3" data-for="email">
                            <input type="email" name="emailtxt" placeholder="Email" data-form-field="email" class="form-control" value="" id="emailtxt">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                            <input type="password" name="password" placeholder="Password" class="form-control" value="" id="email-form6-1l">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                            <input type="text" name="direcciontxt" placeholder="Dirección" class="form-control" value="" id="email-form6-1l">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                            <input type="text" name="numerocel" placeholder="Número de Celular" class="form-control" value="" id="email-form6-1l">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3" data-for="email">
                            <input type="text" name="TipoU" placeholder="Tipo de Usuario" class="form-control" value="" id="email-form6-1l">
                        </div>
                    </div>
                    <div class="botones">
                        <div class="div class=" btn-group btn-group-justified><input type="submit" name="editar" value="Editar" class="otroboton2"/></div>
                        <div class="div class=" btn-group btn-group-justified><input type="submit" name="eliminar" value="Eiminar" class="otroboton2"/></div>
                    </div>
                </form>
                {% for msg in get_flashed_messages() %}
                <div class="alert alert-succes">
                    {{ msg }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>    
</section>
{% endblock %}
