{% extends 'base.html' %} {% block head %}
<title> Ingresar </title>
{% endblock %} {% block body %}

<h1 class="otroh">Inicio de Sesión</h1>
    <form name='fingreso' id='fingreso' action='/Ingreso/'' method='POST'>
        <div class="formularios">
            <div class=fila>
                <div class='c3'>{{ form.ema.label }}</div>
                <div class='c7'>{{ form.ema(size=40, minlength=2, maxlength=100)}}</div>
            </div>
            <div class="fila">
            <div class='c3'>{{ form.pwd.label }}</div>
            <div class='c7'>{{ form.pwd(size=40, minlength=5, maxlength=40)}}</div>
            </div>
            <div class='fila'>                
                <div class='c2'>{{ form.logbtn() }} {{form.hidden_tag()}}</div>   
            </div>
        </div>
    </form>        
    {% for msg in get_flashed_messages() %}
        <div class="msgflash">{{ msg }}</div>
    {% endfor %}
    <br>
    <p id="log1">No estas registrado <a href="/Registro">has click aquí</a></p>

{% endblock %}
