{% extends 'base.html' %} {% block head %}
<title> Menu </title>
{% endblock %} {% block body %}
<h1 class="otroh">
    Nuestros Menus
</h1>

<div class="d-flex justify-content-center">
    {% for lista in resultado %}
    <div class="card" style="width: 18rem;">
        <img src="/static/assets/images/menu.jfif" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"><a href="/Menu/donut">{{ lista.1 }}</a></h5>
            <p style="padding: 5px 15px;" class="card-text">{{ lista.1 }}</p>

        </div>

        <ul class="list-group list-group-flush" id="men">
            <li class="list-group-item">Dona de Chocolate</li>
            <li class="list-group-item">Cafe con leche</li>
            <li class="list-group-item">Galleta de avena</li>
            <li class="card-link">{{ lista.2}}</li>
        </ul>

        <div class="card-body">
            <button class="addCart">Agregar al carrito</button>
            <a href="/Listadeseos" class="card-link" onclick="" id="lis">Añadir a lista de deseos</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}