{% extends 'base.html' %} {% block head %}
<title> Nosotros </title>
{% endblock %} {% block body %}

<h1 class="otroh">
    Nuestros Platos
</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus metus leo, pellentesque a dui et, ullamcorper fringilla sapien. In non pulvinar felis. Cras lorem risus, feugiat non fringilla ut, dictum sit amet justo. Donec nec metus at orci ullamcorper
    laoreet vitae in urna. Sed ac tortor luctus nibh volutpat fermentum. Ut lectus nunc, bibendum at iaculis sit amet, venenatis at diam. Fusce velit elit, luctus non nisi nec, accumsan tristique velit. Vestibulum ut aliquet diam. Morbi tincidunt diam
    a metus convallis volutpat. Phasellus odio felis, tempus eget est a, venenatis auctor arcu. Integer non lorem fermentum odio vehicula tempus. In vestibulum, nisi quis molestie volutpat, metus lectus faucibus turpis, eget tincidunt diam tellus sed
    lorem. Aliquam interdum posuere mauris, vitae gravida erat iaculis ut. Nulla velit dolor, congue et velit sed, facilisis porttitor mi. Curabitur non enim at urna dapibus bibendum. Proin non tincidunt mauris. Mauris blandit, diam vel placerat pretium,
    diam nulla rhoncus nisl, eu sodales lorem enim a justo. Proin id cursus ligula, at volutpat nisl. Proin vulputate purus at metus aliquam, vitae condimentum diam varius. Cras mollis quam sed risus congue laoreet. Phasellus ante ante, feugiat placerat
    suscipit vitae, fringilla et eros. Suspendisse potenti. Vivamus lobortis risus et est egestas, in euismod nunc fermentum. Proin vel ante felis. Cras a suscipit dui. Nam auctor volutpat velit, at viverra elit imperdiet non. Nam ultrices venenatis nunc,
    quis sodales tellus facilisis eu. Phasellus aliquam interdum felis, vel volutpat dui feugiat in. Mauris sit amet quam vitae turpis ultrices fermentum quis nec ante. Aenean porta congue mauris ut accumsan. Suspendisse potenti. Vivamus sed egestas nibh,
    eu placerat elit.</p>

<div class="d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
        <img src="/static/assets/images/menu.jfif" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"><a href="/Platos">Plato 1</a></h5>
            <p class="card-text">Donut</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="/static/assets/images/menu.jfif" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"><a href="/Platos">Plato 2</a></h5>
            <p class="card-text">Donut de avena</p>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>


{% endblock %}