{% extends 'base.html' %} {% block head %}
<title> Registro </title>
{% endblock %} {% block body %}


<h1 class="otroh">
    Registro
</h1>
<form action="/registro/" method="POST">
    <br> {{form.nom.label}} {{ form.nom(size=40, minlegth=2, maxlength=100 )}}    
    <br> {{ form.ema.label}} {{ form.ema(size=40, minlegth=2, maxlength=100 )}}
    <br> {{ form.pas.label}} {{ form.pas(size=40, minlegth=2, maxlength=100 )}}
    <br> {{ form.dire.label}} {{ form.dire(size=40, minlegth=2, maxlength=100 )}}
    <br> {{ form.tel.label}} {{ form.tel(size=40, minlegth=2, maxlength=100 )}}
    <br> {{ form.tipoU.label}} {{ form.tipoU(size=40, minlegth=2, maxlength=100 )}}
    <br> {{ form.regbtn() }} {{form.hidden_tag()}}
</form>
{% for msg in get_flashed_messages() %}
    <div>{{ msg }}</div>
    {% endfor %}
<p id="log1">Ya estas registrado <a href="/Ingreso">has click aquí</a></p>

{% endblock %}
