{% extends 'base.html' %} {% block head %}
<title> Registro </title>
{% endblock %} {% block body %}


<h1 class="otroh">
    Registro
</h1>
<form action="/registro/" method="POST">
    {{form.nom.label}} {{ form.nom(size=40, minlegth=5, maxlength=20 )}}
    <br> {{ form.usu.label}} {{ form.usu(size=40, minlegth=5, maxlength=40 )}}
    <br> {{ form.ema.label}} {{ form.ema(size=40, minlegth=10, maxlength=20 )}}
    <br> {{ form.dire.label}} {{ form.dire(size=40, minlegth=5, maxlength=40 )}}
    <br> {{ form.tel.label}} {{ form.tel(size=40, minlegth=7, maxlength=40 )}}
    <br> {{ form.tipoU.label}} {{ form.tipoU(size=40, minlegth=7, maxlength=40 )}}
    <br> {{ form.regbtn() }} {{form.hidden_tag()}}
</form>
<p id="log1">Ya estas registrado <a href="/Ingreso">has click aquí</a></p>
</section>

{% endblock %}