<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="favicon" rel="shortcut icon" href="/static/assets/images/asset-1.ico">

    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <!--<link rel="stylesheet" href="{{url_for('static', filename='js/main.js')}}">-->


    {% block head %} {% endblock %}

</head>

<body>

    <header>
        <div class="container">
            <div class="logo-box">
                <a href="/">
                    <img src="/static/assets/images/asset-2.svg" alt="Michael's Donuts" style="height: 3.8rem;">
                </a>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/Aboutus">Nosotros</a></li>
                    <li><a href="/Productos">Productos</a></li>
                    <li><a href="/Ingreso">Login/Sign Up</a></li>
                    <li><a href="/Carrito"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-cart3" viewBox="0 0 17 17">
                                <path
                                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </svg></a></li>
                </ul>
            </nav>
        </div>
    </header>
    {% block body %} {% endblock %}
    <footer>
        <a id="mfoo" href="/">Inicio</a>
        <p id="pfoo">© Copyright 2021 MINTIC2022. All Rights Reserved.</p>
    </footer>
</body>

</html>